In [1]:
#test if you are correctly embed the ipython notebook in pyspark
from pyspark.sql import SQLContext

In [4]:
#test if you are correctly embed the ipython notebook in pyspark
sc

In [1]:
#read csv files in the remote HDFS cluster,it may take some times
df1 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true',delimiter=';').load('hdfs://192.168.121.2:8020/demo/2016_05_02.user.lines.csv')

In [2]:
#refer to the api for DataFrame in spark 
df1.describe()

DataFrame[summary: string, cid: string, phone: string, customer_type: string, reg_longitude: string, reg_latitude: string, tb: string, op: string, jd: string, sina: string, report: string, social: string, contact: string, credit_email: string, bank_card: string, accumulation_fund: string, grant_count: string, tb_amount: string, xx_amount: string, op_amount: string, jd_amount: string, credit_amount: string, sina_amount: string, work_amount: string, cross_amount: string, insurance_amount: string, final_amount: string, first_overdue_day: string, first_extract_time: string, first_extract_amount: string, first_should_date: string, first_ydk_time: string, first_anti_fraud_score: string, first_extract_id: string, first_periods: string, first_periods_amount: string, need_repay_times: string, need_repay_money: string, already_repay_times: string, already_repay_money: string, already_repay_late_times: string, already_repay_late_money: string, already_repay_fees_for_late: string, already_overdue_times: string, already_overdue_money: string, already_overdue_bad_times: string, already_overdue_bad_money: string, already_overdue_fees_for_late: string, future_repay_times: string, future_repay_money: string, already_overdue_fpd0_times: string, already_overdue_fpd0_money: string, already_overdue_fpd7_times: string, already_overdue_fpd7_money: string, already_overdue_fpd30_times: string, already_overdue_fpd30_money: string, already_overdue_fpd60_times: string, already_overdue_fpd60_money: string, loan_times: string, loan_amount_sum: string, loan_interest_sum: string, loan_finish_count: string, loan_finish_amount: string, loan_finish_interest: string, loan_periods_sum: string, user_mobile_type: string, source_cid: string, month_rate: string, overdue_rate: string, credit_consume_ability: string, credit_friends_relation: string, credit_income_balance: string, credit_repayment_history: string, credit_user_identification: string, credit_score: string]

In [3]:
df1.head()

Row(cid=12884575, phone=13359709398, idcard=u'230123199001290614', city=u'\u4e2d\u56fd\u9ed1\u9f99\u6c5f\u7701\u54c8\u5c14\u6ee8\u5e02\u9053\u91cc\u533a\u83dc\u5e93\u885710\u53f7', customer_type=1, reg_time=datetime.datetime(2016, 5, 2, 7, 44, 7), reg_longitude=126.5808, reg_latitude=45.729035, xx=u'ac624bed2b5aa47dc2c9ec9179bd94de', tb=0, op=1, jd=0, sina=0, report=0, social=0, contact=0, credit_email=0, bank_card=0, accumulation_fund=0, grant_count=0, tb_amount=1, xx_amount=2020.0, op_amount=0.0, jd_amount=0.0, credit_amount=0.0, sina_amount=0.0, work_amount=0.0, cross_amount=0.0, insurance_amount=2528.0, final_amount=0.0, first_overdue_day=2020.0, first_extract_time=0, first_extract_time_day=u'0', first_overdue_status=u'0', first_extract_amount=0, first_should_date=0.0, first_end_time=u'0', anti_fraud_score=u'0', first_ydk_time=0, first_extract_status=u'0', first_anti_fraud_score=0, first_extract_id=0, first_periods=0, first_periods_amount=0, need_repay_times=0.0, need_repay_money=-1, already_repay_times=-1.0, already_repay_money=-1, already_repay_late_times=-1.0, already_repay_late_money=-1, already_repay_fees_for_late=-1.0, already_overdue_times=-1.0, already_overdue_money=-1, already_overdue_bad_times=-1.0, already_overdue_bad_money=-1, already_overdue_fees_for_late=-1.0, future_repay_times=-1.0, future_repay_money=-1, already_overdue_fpd0_times=-1.0, already_overdue_fpd0_money=-1, already_overdue_fpd7_times=-1.0, already_overdue_fpd7_money=-1, already_overdue_fpd30_times=-1.0, already_overdue_fpd30_money=-1, already_overdue_fpd60_times=-1.0, already_overdue_fpd60_money=-1, loan_times=-1.0, loan_amount_sum=-1, loan_interest_sum=-1.0, loan_finish_count=-1.0, loan_finish_amount=-1, loan_finish_interest=-1.0, loan_periods_sum=-1.0, user_mobile_type=-1, user_promotion_channel=u'android', device_ip=u'10008a', is_invited=u'112.102.12.126', source_cid=0, month_rate=-1, overdue_rate=0.018, credit_consume_ability=0.13, credit_friends_relation=0.0, credit_income_balance=0.0, credit_repayment_history=0.0, credit_user_identification=0.0, credit_score=0.0)

In [4]:
df1.select('cid').show()

+--------+
|     cid|
+--------+
|12884575|
|12884574|
|12884577|
|12884576|
|12884571|
|12884570|
|12884573|
|12884572|
|12884579|
|12884578|
|12891128|
|12891129|
|12891124|
|12891125|
|12891126|
|12891127|
|12891120|
|12891121|
|12891122|
|12891123|
+--------+
only showing top 20 rows

In [5]:
#transfer the DataFrame in spark to the pandas DataFrame, from my test, it approximately take 5s to tranfer a 10M csv file
df1_pd = df1.toPandas()

In [7]:
#then feel free to test the methods in pandas 
df1_pd.describe()

,cid,phone,customer_type,reg_longitude,reg_latitude,tb,op,jd,sina,report,...,user_mobile_type,source_cid,month_rate,overdue_rate,credit_consume_ability,credit_friends_relation,credit_income_balance,credit_repayment_history,credit_user_identification,credit_score
count,3.384600e+04,3.384300e+04,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000,...,33846.000000,33846.000000,3.384600e+04,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000,33846.000000
mean,1.289776e+07,1.587156e+10,0.468209,47.577718,13.249555,0.069373,0.262601,0.108107,0.244844,0.001330,...,-0.924481,0.029546,2.937753e+05,0.006032,0.073850,2.047808,0.115966,1.686758,2.762778,3.134125
std,9.770643e+03,2.049648e+09,0.517939,56.482668,16.215105,0.254091,0.440054,0.310520,0.430001,0.036439,...,0.970064,0.169332,1.770787e+06,0.007766,0.060647,11.728921,1.355410,7.564555,12.014140,13.770861
min,1.288084e+07,1.300115e+10,0.000000,-111.984303,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,-1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.288930e+07,1.378818e+10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,-1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.289776e+07,1.557996e+10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,-1.000000e+00,0.000000,0.120000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.290622e+07,1.824186e+10,1.000000,113.655180,30.230566,0.000000,1.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,-1.000000e+00,0.015000,0.130000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.291468e+07,1.899984e+10,2.000000,134.305176,52.339281,1.000000,1.000000,1.000000,1.000000,1.000000,...,36.000000,1.000000,1.287150e+07,0.027000,0.130000,84.057794,38.000000,100.000000,58.000000,96.544252

In [8]:
df1_pd['cid']

0        12884575
1        12884574
2        12884577
3        12884576
4        12884571
5        12884570
6        12884573
7        12884572
8        12884579
9        12884578
10       12891128
11       12891129
12       12891124
13       12891125
14       12891126
15       12891127
16       12891120
17       12891121
18       12891122
19       12891123
20       12885226
21       12885227
22       12885224
23       12885225
24       12885222
25       12885223
26       12885220
27       12885221
28       12885228
29       12885229
           ...
33816    12896290
33817    12896297
33818    12896296
33819    12896295
33820    12896294
33821    12913879
33822    12913878
33823    12898529
33824    12898528
33825    12898527
33826    12898526
33827    12898525
33828    12913870
33829    12913877
33830    12913876
33831    12898521
33832    12898520
33833    12898292
33834    12901058
33835    12901059
33836    12898295
33837    12901052
33838    12898297
33839    12898296
33840    12898291
33841    12898290
33842    12898293
33843    12881609
33844    12898299
33845    12898298
Name: cid, dtype: int64

In [9]:
df1_pd.head(10)

,cid,phone,idcard,city,customer_type,reg_time,reg_longitude,reg_latitude,xx,tb,...,is_invited,source_cid,month_rate,overdue_rate,credit_consume_ability,credit_friends_relation,credit_income_balance,credit_repayment_history,credit_user_identification,credit_score
0,12884575,1.335971e+10,230123199001290614,中国黑龙江省哈尔滨市道里区菜库街10号,1,2016-05-02 07:44:07,126.580800,45.729035,ac624bed2b5aa47dc2c9ec9179bd94de,0,...,112.102.12.126,0,-1,0.018,0.13,0.0,0.0,0.0,0.0,0.0
1,12884574,1.575346e+10,,,0,2016-05-02 07:43:54,0.000000,0.000000,5f4ce1d79c02271af4df1199ac7b3991,0,...,-1,0,-1,0.000,0.00,0.0,0.0,0.0,0.0,0.0
2,12884577,1.885648e+10,,,0,2016-05-02 07:44:19,116.513796,31.763147,f3dd9a4b202eae5704aea5777aa4e23c,0,...,117.71.6.64,0,-1,0.000,0.00,0.0,0.0,0.0,0.0,0.0
3,12884576,1.832223e+10,13022719931112001X,"天津市,天津市",1,2016-05-02 07:44:12,0.000000,0.000000,0956311ce77d38111001590c4a39e1c7,0,...,-1,0,-1,0.023,0.13,0.0,0.0,0.0,0.0,0.0
4,12884571,1.507502e+10,130429198110036216,"河北省,永年县",2,2016-05-02 07:43:46,0.000000,0.000000,30858ee0515ab0a782fed1509491d4ff,0,...,-1,0,-1,0.000,0.12,0.0,0.0,0.0,0.0,0.0
5,12884570,1.397885e+10,,,0,2016-05-02 07:43:37,108.446938,22.805528,872be7378d2e5c4b747f2547144c6dc5,0,...,171.104.223.62,0,-1,0.000,0.00,0.0,0.0,0.0,0.0,0.0
6,12884573,1.596245e+10,320382198304268324,中国江苏省苏州市虎丘区Y007(兴贤路),1,2016-05-02 07:43:54,120.495085,31.375608,cafb1c0ecfb5b44036803e4a6a2cbe91,0,...,127.0.0.1,0,-1,0.000,0.12,0.0,0.0,0.0,0.0,0.0
7,12884572,1.560902e+10,,,0,2016-05-02 07:43:53,0.000000,0.000000,31867e6756f69b0153df209be89c5b79,0,...,-1,0,-1,0.000,0.00,0.0,0.0,0.0,0.0,0.0
8,12884579,1.376565e+10,,,0,2016-05-02 07:44:34,109.271837,27.781032,822d8bf29e8bee934411fae180c67dff,0,...,111.85.77.1,0,-1,0.000,0.00,0.0,0.0,0.0,0.0,0.0
9,12884578,1.392378e+10,360727198805233319,"广东省,广州市",1,2016-05-02 07:44:24,0.000000,0.000000,35f7c869c4ba1a3034ab341d157f8a01,0,...,-1,0,-1,0.000,0.12,0.0,0.0,0.0,0.0,0.0